body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,dt,form,fieldset,legend,input,textarea,select,section,header,footer,main{margin:0;padding:0;box-sizing:border-box;}

a {	text-decoration: none;}
a:hover{text-decoration:underline}
em i{font-style:normal}

img{border:0;vertical-align:middle}

html,body {width:100%;height:100%;}

#root{
	width: 100%;
	height: 100%;
}
#app{
	background-color: white;
	width:100%;
	height:100%;
	color:black;
}
.theater-head{
	z-index: 999;
	position:fixed;
	top:0;
	bottom: 0;
    text-align: center;
	width: 100%;
	height: 1.2375rem;
	background-color:white;
    line-height:1.2375rem;
	text-align:center;
	font-size: 0.4rem;
    font-weight:400;
    color:black;
   
    border-bottom: 0.05rem black solid;
}
.theater-head1{
	width: 100%;
	height: 1.537rem;

}
.theater-body{
	width:100%;
	height:6.6rem;
	background-color: whitesmoke;
	margin: 0 auto;
	text-align: center;
	
}

.theater-info{
	margin: 0 auto;	
	box-shadow: 5px 5px 5px  white;
	width: 94%;
	height:5.9rem;
	background-color: white
}
.theater-info-shows{
	width: 100%;
	height: 5rem;
	margin-top: 1.15rem;

}
.se{
	width: 100%;
	height: 0.3rem;
	background-color: whitesmoke;
}
.theater-info1{
	margin: 0 auto;
	width:100%;
	height: 1.7rem;	
}
.theater-info2{
	width: 100%;
	height:4.3rem;
	
}
.lunboliu{
	width: 100%;
	height: 4.1rem;
}
.theater-pic-name-count{
   width: 85%;
   height: 1.5rem;
   display: inline-block;
   float: left;
}

.ann{
     width:30%;
	height:1.5rem; 
	float: left;
	margin-left: 0.1rem;
	
}
.ann img{
	
	width: 100%;
	height: 100%;
}
.bnn{
	width: 68%;
	height: 1.5rem;
	 float: right;
	 
}
.bnn1{
	width:100%;
	height: 0.75rem;
	margin-left: 0.25rem;
	font-size: 0.4rem;
	float: left;
	font-weight: 700;
	color: #000000;
}
.bnn1 p{
	float:left;
	
}
.bnn2{
    margin-left: 0.35rem;
	width: 100%;
	height: 1.25rem;
	color: #000000;
	font-size: 0.06rem;
	
	
}
.bnn2 p{
	float: left;
}

.theater-link{
	display: inline-block;
	line-height: 1.5rem;
	font-size: 0.7rem;
	width: 15%;
	height: 1.5rem;
	display: inline-block;
	float:right;
	list-style: none;
	color: black;
	text-decoration:none;
}
.hot-wrap{
	width: 100%;
	height: 100%;
}
.boo{
	float: left;
     width: 100%;
	height: 4rem;
	font-size:0.4rem;
}
.shang{
	width: 100%;
	height: 0.9rem;
	font-size: 0.3rem;
	border-bottom: #B3B3B3 0.05rem solid;
	
}
#xia{
	width:100%;
	height: 3rem;
	
}
#xia img{
	width:90%;
	height:100%;
}
#zuo{
	margin-right: 0.2rem;
}
.data{
	width: 100%;
	height:2.5rem;
	background-color: #0000FF;
}	
.boo img{
	width:100%;
	height:100% ;
}

  
  
