html{
    font-size:26.7rem;
}
#Address-header{
    width:100%;
    height:.76rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 .2rem;
    font-size: .4rem;
    border-bottom: .02rem solid #ccc;
}
#Address-header .icon-sandian{
    font-size: .4rem;
}
#Address-header .icon-dayuhao{
    font-size: .4rem;
}
/*nav*/
#Address-nav{
    width:100%;
    height:1.9rem;
    margin-top:1.96rem;
}
#Address-nav .location{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.location img{
    width:2.4rem;
    height:1.72rem;
}
.location .location-txt{
    color:#ccc;
    font-size: .24rem;
}
/*section*/
#Address-section{
    width:100%;
    height:1.1rem;
    position: absolute;
    left: 0;
    bottom:0;
}
.button {
    width:100%;
    height:.76rem;
    background: orangered;
    font-size:.4rem;
    text-align: center;
    line-height: .76rem;
    color:#fff;
    border-radius: .3rem;
}