html{
    font-size:26.7vw;
}
#BuyName-header{
    width:100%;
    height:.72rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size:.3rem;
    border-bottom:1px solid #ccc;
    background: #e7e7e7;
    padding-left:.2rem;
    box-sizing: border-box;
    background: #fff;
}
#BuyName-header .center{
    flex:1;
    box-sizing:border-box;
    padding-left:2.7rem;
}
#BuyName-header .icon-dayuhao{
    font-size: .4rem;
}
/*nav*/
#BuyName-nav {
    width:100%;
    height:1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
#BuyName-nav input{
    display: block;
    width:7rem;
    height:.8rem;
    font-size:.3rem;
    padding: 0 .66rem;
    border: none;
    box-sizing: border-box;
}
#BuyName-nav .tree{
    width:100%;
    height:.02rem;
    background: #ccc;
}
/*section*/
#BuyName-section{
    width:100%;
    height:2.66rem;
    display: flex;
    flex-direction: column;
}
#BuyName-section .alert{
    font-size: .3rem;
    color:red;
    padding-left:.2rem;
    box-sizing: border-box;
}
#BuyName-section .sec-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .3rem;
    flex-direction: column;
    padding-top:.4rem;
    box-sizing: border-box;
}
#BuyName-section .button{
    width:4.16rem;
    height:.6rem;
    background: orangered;
    text-align: center;
    line-height:.6rem;
    margin-top:.32rem;
}