html{
    font-size:26.7vw;
}
#zsl-header{
    display:flex;
    width:100%;
    height:.76rem;
    border-bottom:1px solid #ccc;
    align-items: center;
    padding:0 .3rem;
    box-sizing:border-box;
    font-size:.32rem;
    background:#e7e7e7;
}
#zsl-header .center{
    flex:1;
    margin:2.4rem;
}
#zsl-header .icon-dayuhao{
    font-size:.4rem;
}
/*nav*/
#zsl-nav {
    width:100%;
    height:1.88rem;
    border-bottom: .1rem #ccc solid;
    box-sizing:border-box;
}
#zsl-nav .inter-top .icon-jifen{
    font-size:.34rem;
    color:orange;
}
#zsl-nav .inter-top{
    display:flex;
    font-size:.34rem;
    align-items: center;
    justify-content: center;
    height:1.16rem;
    position:relative;
    border-bottom: 1px solid #ccc;
}

#zsl-nav .iten-detail{
    font-size:.28rem;
    color:#b2b2b2;
    position:absolute;
    right:.2rem;
    top:.4rem;
}
#zsl-nav .tab{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
}
#zsl-nav .tab div{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
padding-top:.1rem;}
/*section*/
#zsl-section .information{
    display:flex;
    align-items: center;
    font-size:.2rem;
    padding:0 .16rem;
    box-sizing:border-box;;
}
#zsl-section .img{
    width:1.46rem;
    height:1.68rem;
    background:url("../img/rAoKmV0_5YOAS232AACvfaS_Ar8438.jpg") center center no-repeat;
}
#zsl-section .info{
    width:2.96rem;
    height:2.16rem;
    flex:1;
    padding-top:.18rem;
    box-sizing:border-box;
    padding-left:.16rem;
}
#zsl-section .info-title{
    height:.54rem;
    font-size:.3rem;
}
#zsl-section .info-detail{
    padding-top:.25rem;
}