p,h3,ul,li{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#Hearders{
    padding: 0.3rem;
    height: 0.9rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#City{
    width: 1.2rem;
    height: 0.6rem;
    background-color: rgba(0,0,0,.2);
    float: left;
    position: absolute;
    top: 0.15rem;
    border-radius: 0.3rem;
    text-align: center;

}
#City span{
    line-height: 0.6rem;
    display: inline-block;
    color: #f6f6f6;
}
#Search{
    float: left;
    width: 4.8rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 0.15rem;
    left: 1.7rem;
    background-color: rgba(0,0,0,.2)
}
#Search-Page{
    margin-left: 0.2rem;
    line-height: 0.6rem;
    top:0.07rem;
    color: #f6f6f6;
}
#Search span:nth-child(2){
    line-height: 0.6rem;
    margin-left: 0.2rem;
    font-size: 0.3rem;
    color: #f6f6f6;
}
#Image{
    float:right;
    position: absolute;
    top: 0.23rem;
    right: 0.3rem;
}
#Image img{
    width: 0.5rem;
    height: 0.5rem;
}
#m-navImage{
    width:100%;
    height: 1.3rem;
    /*border: 1px solid;*/
    position: fixed;
    bottom:0;
    font-size:0.222rem;
    z-index: 5;
    background: #fefefe;
}
#m-navImage a {
    display: flex;
    width: 25%;
    height: 1.3rem;
    float: left;
    text-decoration:none;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#m-navImage a div{
    align-items: center;
}
#m-navImage a p{
    width: 0.6rem;
    height: 0.6rem;
    background-size: 0.6rem;
    margin: 0.1rem   auto 0 auto ;
}
#m-navImage a>div>span{
    font-size: 0.26667rem;
    color:#232323;

}
#m-navImage #a1{
    display: flex;
    align-items: center;
}
#m-navImage #a1>p{
    width: 0.84rem;
    height: 0.84rem;
    background-size: 0.84rem;
    background-position-y: 0.84rem;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
   width: 100%;
    height: 4.1rem;
}
#swiper-slide{
    height: 2.8rem;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
/*************类别***************/
#m-category{
    height:12rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.53333rem 0.4rem 0;
}
#m-category1{
    height:1.55rem;
    width: 100%;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#m-category1 div{
    width:1rem;
    height: 1.6rem;
    text-align: center;
}
#m-category1 div img{
    width: 1rem;
    height: 1rem;
}
#m-category2{
    width: 100%;
    height: 4.06rem;
    background: rgba(255,252,245,.5);
    margin-bottom: 0.6rem;
    border:0.01rem solid #6b4218;
    border-radius:0.1rem;
}
#m-category2-1{
    width: 100%;
    height: 0.8rem;
    padding: 0 0.3rem;
    box-sizing: border-box;
    border-bottom: 0.01rem dashed  #6b4218;
}
#m-category2-1-Left{
    float: left;
    line-height:0.8rem;
}
#m-category2-1-Left span:nth-child(1){
    font-size: 0.3rem;
    color: #6b4218;
    margin-right: .13333rem
}
#m-category2-1-Left span:nth-child(2){
    font-size: 0.22rem;
    color: #6b4218;
}
#m-category2-1-Right{
    float: right;
    line-height:0.8rem;
    font-size: .28rem;
    color: #6b4218;
}
#m-category2-2{
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.3rem;
}
#m-category2-2-1{
    float: left;
    width: 1.35rem;
    height: 1.8rem;
    border-radius: .05333rem;
    background-size: 100%;
}
#m-category2-2-2{
    width: 4.5rem;
    height: 2rem;
    float: right;
    position: relative;
}
#m-category2-2-2 h3{
    font-size: .3333rem;
    color: #232323;
    line-height: .43333rem;
}
#m-category2-2-2-p{
    margin-top: 0.2rem;
    width: 4.533333rem;
    font-size: .3rem;
    height: .46667rem;
    line-height: .46667rem;
}
#m-categoryTime{
    height: 0.38rem;
    width: 4.5rem;
    margin-top: .2rem
}
#m-categoryTime span:nth-child(1){
    color: #ff6743;
    font-size: 0.3rem;
}
#m-categoryTime span:nth-child(2){
    margin-left: .13333rem;
    font-size: 0.26rem;
    color:#666;
}
.m-category-bottom{
    width: 1.5rem;
    height: 0.5rem;
    border:0.01rem solid #ff6743;
    border-radius:0.1rem;
    position: absolute;
    top:1.6rem;
    right: 0rem;
    text-align: center;
    line-height:  0.5rem;
    color:#ff6743;
}
#m-category3{
    background-color: #f5f5f5;
    width: 100%;
    padding: 0.08rem 0.1rem;
}
#VipUi1{
    height: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgba(0,9,9,0);
}
#VipUi1 li{
    width: 3.18rem;
    height:1.8rem;
    padding: 0 0.3rem;
    background: #fefefe;
    position: relative;
    border-radius: 0.1rem;
}
#VipUi1 li h3{
    height: 0.6rem;
    line-height: .6rem;
    font-size: 0.3rem;
    color: #232323;
    text-align: center
}
#VipUi1 li p{
    width: 1.8rem;
    font-size: 0.2rem;
}
#VipUi1_Font{
    width: 1.8rem;
    margin-top: 0.3rem;
}
#VipUi1Image{
    width:0.98rem ;
    height: 0.98rem;
    position: absolute;
    bottom: 0.3rem;
    right: 0.2rem;
    background-size:0.98rem ;
}
#VipUi1 li span{
    color: #ff6743;
}
#VipUi2{
    height: 2.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: 0 0;
    margin-top: 0.1rem;
}
#VipUi2 li{
    width: 2.08rem;
    height: 2.2rem;
    background: #fefefe;
    border-radius: 0.1rem;
    text-align: center;
}
#VipUi2 li h3{
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 0.3rem;
    color: #232323
}
#VipUi2Image{
    width: 0.9rem;
    height: 0.9rem;
    margin: 0.1rem auto;
    background-size:0.9rem;
}
#lunhui{
    height: 12rem;
    width: 100%;
}
/********热门演出*******/
#HotShow{
    height: 6rem;
    width: 100%;
    padding:0.4rem 0 0.7rem 0.32rem;
    box-sizing: border-box;
}
#HotShow1{

}
#HotShow-Tilte{
    width: 100%;
    height:0.45rem;
    background:pink;
}
#HotShow-Tilte  h3{
    float: left;
    font-size: 0.45rem;
    color:#232323;
    line-height: 0.45rem;
}
#HotShow-Tilte a{
    float: right;
    font-size: 0.4rem;
    line-height: 0.45rem;
    display: inline-block;
}
#HotShow-Image{
    margin-top: 0.35rem;
    background: #f6f6f6;
}
#HotShow-Image-small{
    width: 2.1rem;
    height: 3.5rem;
}
#HotShow-Image img{
    width: 2.1rem;
    height: 2.8rem;
    border-radius: 0.1rem;
}
#HotShow-Image h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.namespace{
    width: 2.1rem !important;
    margin-left: 0.1rem;
}
#CycleOfsinging{
    width: 100%;
    height: 5rem;
    padding: 0.4rem 0;
    background: #f5f5f5;
}
#CycleOfsinging-1{
    padding:0 0.2rem;
    height: 0.5rem;
}
#CycleOfsinging-1 h3{
    float: left;
    line-height:0.5rem;
    font-size: 0.4rem;
    color: #232323;
}
#CycleOfsinging-1 a{
    float: right;
    line-height:0.5rem;
    font-size: 0.4rem;
}
#CycleOfsinging-2{
    height: 4.2rem;
    margin-top:0.4rem;
    overflow: hidden;
}
#CycleOfsinging-2-1{
    height: 4rem;
    width: 5rem;
    margin-right: 0.1rem;
    background: #6b4218;
}
#CycleOfsinging-2-1 img{
    width: 5rem;
    height: 2rem;
 }
#TepySlideshow3-Image{
    height: 2.8rem;
}
#CycleOfsinging-2-2{
    text-align: center;
    font-size: 0.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
#CycleOfsinging-2-3{
    text-align: center;
    font-size: 0.2rem;
}
.slider-list{margin-top: 0 !important;}
/**********尊享折扣**********************/
#m-Discount{
    padding-bottom: 0.6rem;
}
#Page-Vip{
    height: 0.8rem;
    background: #232323;
    padding:0 0.4rem ;
    color: #f0d1b0;
}
#Page-Vip-1{
    width: 3.2rem;
    line-height: 0.8rem;
    font-size:0.3rem;
    float: left;
    font-weight: 700

}
#Page-Vip-2{
    float:right;
    line-height: 0.8rem;
    font-size: 0.3rem;

}
#Discount{
    height: 4.4rem;
    padding: 0 0 0.32rem 0;
    background-color: #f5f5f5;
}
#Discount-TL{
    height: 0.8rem;
    font-size: 0.3rem;
    line-height: 0.8rem;
}
#Discount-TL-1{
    float: left;
    width: 4.4rem;
    padding-left:0.3rem ;
}
#Discount-TL-1 h3{
    float: left;
}
#Discount-TL-2{
    float: right;
    width:2.2rem;
    margin-left: 0.1rem;
}
#Discount-TL-2 h3{
    float: left;
}
#Discount-TL-2 span{
    float: right;
}
#Discount-TL-1 span{
    float: right;
}
#Discount1{
    height: 3.5rem;
    width: 4.8rem;
    float: left;
}
#Discount2{
    width: 2.2rem;
    height:3.5rem;
    float: right;
}
#Discount1-2{
    width: 2.1rem;
    height: 3.6rem;
    float: left;
    margin-left: 0.25rem;
}
#Discount1-3{
    width: 2.1rem;
    height: 3.6rem;
    float: right;
    margin-right: 0.2rem;
}
#Discount1-2 p{
    width: 2.1rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
#Discount1-2 p span{
    color: #ff6743;
    font-size: 0.4rem;
}
#Discount1-3 p{
    width: 2.1rem;
    height: 0.5rem;
    line-height: 0.5rem;
 }
#Discount1-3 div{
    width: 2.1rem;
    height: 3rem;
}
#Discount1-3 p span{
    color: #ff6743;
    font-size: 0.2rem;
    text-align: center;
}
#Discount1-2 div{
    width: 2.1rem;
    height: 3rem;
 }
/***********类别会*组件***************/
#Categories {
    padding-bottom: 0.5rem;
}
#Categories-Tilte{
    height:0.5rem;
}
#Categories-Tilte h3{
    font-size:0.4rem;
    line-height: 0.5rem;
    color: #232323;
    float: left;
    margin-left:0.32rem;
}
#Categories-Tilte span{
    margin-right: 0.3rem;
    float: right;
    line-height: 0.5rem;
    font-size: 0.4rem;
}
#Categories-1{
    height: 3rem;
    background: #6b4218;
    /*padding: 0.3rem 0 0.3rem 0.3rem;*/
    margin-top: 0.4rem;
}
#Categories-1-Img{
     width: 2.2rem;
    height: 3rem;
    border-radius:0.2rem;
    float: left;
}
#Categories-1-Img img{
    width: 2.2rem;
    height: 3rem;
}
#Categories-1-Size{
    width:4.65rem;
    height: 2.6rem;
    padding-top:0.35rem;
    float:left;
    margin-left:0.3rem;
}
#Categories-1-SizeP{
    height: 0.5rem;
    color: #f6f6f6;
    line-height: 0.5rem;
}
#Categories-1-Size h3{
    width:4.3rem;
    height: 0.8rem;
    font-size:0.35rem;
    margin-top: 0.3rem;
    color: #f6f6f6;
    overflow: hidden;
    text-overflow: ellipsis;
    /*//white-space: nowrap;*/
}
#Categories-1-SizeP2{
    font-size:0.25rem;
    color: #f6f6f6;
    margin-top: 0.35rem;
}
#Categories-Image{
    padding: 0.3rem 0 0 0.3rem;
    height:4.1rem;
}
#Categories-Img{
    height: 4.1rem;
    width: 2.2rem;
    border-right: 0.1rem solid #f6f6f6;
}
#Categories-Img img{
    width: 2.2rem;
    height: 3rem;
    border-radius: 0.1rem;
}
#Categories-Image-H3{
    width: 2.2rem;
    font-size: 0.35rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#Categories-Img p{
    margin-top: 0.1rem;
    width: 2.2rem;
    height:0.3rem;
 }
#Categories-Img p span{
    color: #ff6743;
    font-size: 0.2rem;
}
/************热门******************/
#Hot{
    height: 6.8rem;
    margin-bottom: 0.4rem;
    padding-left:0.3rem;
    margin-top: 0.5rem;
}
#Hot-Tlite{
    height:0.56rem;
}
#Hot-Tlite h3{
    float: left;
    font-size: 0.45rem;
    line-height: 0.56rem;
}
#Hot-Tlite span{
    float: right;
    font-size: 0.4rem;
    line-height: 0.56rem;
}
#Hot-body{
    height: 5.9rem;
    margin-top: 0.37rem;
}
#Hot-body-1{
    width:5.3rem;
    height: 5.8rem;
    padding: 0.4rem 0.35rem;
    border: 0.02rem solid #ebebeb;
    border-radius:0.2rem;
    margin-right: 0.3rem;
}
#Hot-body-1-1{
    width: 4.9rem;
    height: 0.95rem;

}
#Hot-body-1-1Image{
    width: 1rem;
    height: 1rem;
    float: left;
    background-size: 100%;
}
#Hot-body-1-1Size{
    width: 2.5rem;
    height: 1rem;
    margin-left: 0.2rem;
    float: left;
}
#Hot-body-1-1Size h3{
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.35rem;
}
#Hot-body-1-1Size p{
    margin-top: 0.15rem;
    font-size: 0.14rem;
    line-height: 0.15rem;
    float: left;
}
#Hot-body-1-1 span{
    float: right;
    font-size: 0.4rem;
    line-height:1rem;
}
#Hot-body-1-2{
    width: 100%;
    height: 0.7rem;
}
#Hot-body-1-2P{
    font-size:0.3rem;
    width: 100%;
    height:0.6rem;
    float: left;
}
#Hot-body-1-2P span:nth-child(1){
    text-align: center;
    /*display: inline-block;*/
    width: 100%;
    height:0.35rem;
    display: block;
    margin-top: 0.1rem;
}
#Hot-body-1-2P span:nth-child(2){
    width: 100%;
    height:0.05rem;
    background: #cccccc;
    border-radius:0.1rem;
    position: relative;
    display: inline-block;
}
#All-Image-Size{

}
#Image-Size{
    float: left;
    width: 2.15rem;
    margin-right: 0.13rem;
}
#Hot-body-1-3{
    width: 2.2rem;
    height: 3rem;
    margin-top: 0.37rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Hot-body-1-3 li{
    width:2.2rem;
    height: 3.1rem;
}
#Hot-body-1-3 li img{
    width: 2.1rem;
    height: 3rem;
    border-radius: 0.1rem;
}
.m-five{
    width: auto;
    height: auto;
}
/**************为你推荐********************/
#Recommend{
    height: auto;
    padding:0 0.3rem;
}
#Recommend-Tilte{
    height: 0.5rem;
    font-size:0.35rem;
    color: #232323;
    line-height: 0.5rem;
    font-weight: 700;
}
#Recommend-body{
    height: auto;
    margin-top: 0.35rem;
}
#Recommend-body li{
    height: 3rem;
    margin-bottom: 0.6rem;
}
#Recommend-Image{
    width: 2.2rem;
    height: 3rem;
    float: left;
    background-size: 100%;
}
#Recommend-Size{
    height: 3rem;
    float: right;
    width: 4.4rem;
}
#Recommend-Size p:nth-child(1){
    height: 0.5rem;
    font-size: 0.3rem;
    color: #232323;
    line-height: 0.5rem;
}
#Recommend-Size h3{
    margin-top: 0.25rem;
    height: 1rem;
    font-size: 0.35rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Recommend-Size p:nth-child(3){
    height: 0.5rem;
    font-size: 0.3rem;
    color: #232323;
    line-height: 0.5rem;
    margin-top: 0.23rem;
}
#Recommend-Size p:nth-child(4){
    height: 0.5rem;
    font-size: 0.2rem;
    line-height: 0.5rem;
    margin-top: 0.23rem;
   color: #232323;
}
#Recommend-Font span{
    color: #ff6743;
}




